.home-img {
  max-width: 100%;
}
.image {
  display: none;
}
.imgWrapper {
  z-index: 0;
  position: fixed;
  width: 100vw;
  left: 0px;
  height: 100vh;
  box-sizing: border-box;
  /* border: solid 3px limegreen; */
}
@keyframes blender {
  0% {
    opacity: 0;
    transform: translate(-20px);
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-100px);
  }
}
@media only screen and (min-width: 425px) {
  @keyframes blender {
    0% {
      opacity: 0;
      transform: translate(-40px);
    }
    30% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(-140px);
    }
  }
}
@media only screen and (min-width: 768px) {
  @keyframes blender {
    0% {
      opacity: 0;
      transform: translate(-300px);
    }
    30% {
      opacity: 0.5;
    }
    70% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
      transform: translate(-330px);
    }
  }
}

.imageActive {
  float: left;
  width: 150vw;
  height: 100vh;
  object-fit: cover;
  /* border: solid yellow 2px; */
  box-sizing: border-box;
  opacity: 0;
  animation: blender linear 50ms;
  /* background-size:contain; */
  /* animation time now in js file */
}
