.home-img {
  max-width: 100%;
}
.image {
  display: none;
}
.imgWrapper {
  z-index: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  border: solid 3px red;
}
@keyframes blender {
  0% {
    opacity: 0;
    transform: translate(-25px);
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0px);
  }
}
.imageActive {
  float: left;
  width: 150vw;
  height: 100vh;
  object-fit: cover;
  border: solid yellow 2px;
  box-sizing: border-box;
  opacity: 0;
  animation: blender linear 50ms;
  /* animation time now in js file */
}